/*
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/
body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

footer {
  background-color: #27496d;
  color: #dae1e7;
  font-size: 1rem;
  line-height: .35;
  max-height: 2.5rem;
  overflow: hidden;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
}

.brand{
  max-width: inherit;
}

.collapse {
  padding-top: 3.5rem;
  position: absolute;
  right: 17%;
}

.div-author {
  background-color: #dae1e7;
  display: block;
  min-height: 29rem;
  padding: 4.5rem 17% 0 17%;
  text-align: center;
}
.div-author-title {
  color: #27496d;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3rem;
}
.div-author-name {
  color: #00909e;
  font-size: 2rem;
}

.div-bottom {
  background-color: #515585;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.div-top {
  background-color: #515585;
  display: block;
  padding: 12rem 17% 5% 17%;
}

.icon {
  display: none;
}

.image-bottom {
  max-height: inherit;
  max-width: inherit;
}

.img-top {
  width: 35vw;
  position: absolute;
  right: 17%;
  top: 70%;
}

.navbar {
  background-color: #27496d;
  display: flex;
  height: 5.5rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
}

.navbar-brand {
  left: 17%;
  max-width: 16rem;
  position: relative;
  top: 1rem;
}
/*
.navbar-brand {
  color: #00909e;
  display: inline-block;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 7.5rem;
  max-height: 6rem;
  overflow: hidden;
  text-decoration: none;
}
.span-brand {
  color: white;
}
*/

.nav-link {
  color: #dae1e7;
  font-size: 1.25rem;
  font-weight: 400;
  margin-left: 1.5rem;
  position: relative;
  text-decoration: none;
}
.nav-link:hover {
  color: #46b5d1;
}

.text-author {
  color: #515585;
  font-weight: 400;
  z-index: 1;
}

.text-link {
  color: #46b5d1;
  z-index: 1;
}
.text-link:hover {
  color: #00909e;
  font-weight: 500;
  z-index: 1;
}

.text-top {
  color: #dae1e7;
  font-weight: 400;
  max-width: 25rem;
  padding-top: 7%;
  z-index: 1;
  /*position: absolute;
  left: 35vh - 71% - 35rem*/
}

.quote {
  color: #dae1e7;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3.125vw; /* = 300% = 3rem*/
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 0;
  z-index: 1;
}

.quote-author {
  color: #dae1e7;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.05vw;
  margin: 0;
  z-index: 1;
}
