/*
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Saira Semi Condensed', sans-serif;
*/

html {
  color: #dae1e7;
  font-family: 'Saira Semi Condensed', sans-serif;
}

body {
  background-color: #515585;
  font-size: 1.25rem;
  margin: 0;
}

p, span {margin: 0;}

/* NAVIGATION BAR */

.navbar {
  background-color: #27496d;
  display: flex;
  max-height: 6rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-brand {
  margin-left: 15.5%;
  max-width: 16rem;
  margin-top: 1rem;

}

.brand {
  max-width: inherit;
}

.navbar-menu {
  padding-top: 3.5rem;
  position: absolute;
  right: 17%;
}

.nav-link {
  color: #dae1e7;
  margin-left: 1.5vw;
  text-decoration: none;
}
.nav-link:hover {
  color: #46b5d1;
}

.icon {
  display: none;
}


/* TITLE */

.div-top {
  display: block;
  padding: 12rem 17% 5% 16%;
}

.quote {
  color: #fff;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3.125vw; /* 3.125vw = 300% = 3rem*/
  letter-spacing: 0.2rem;
  margin: 0;
}

.quote-author {
  font-size: 1rem;
  margin: 0;
}

.text-top {
  max-width: 25rem;
  padding-top: 9%;
  /*position: absolute;
  left: 35vh - 71% - 35rem*/
}

.text-link {
  color: #46b5d1;
}
.text-link:hover {
  color: #00909e;
  font-weight: 500;
}

.image-top {
  width: 35vw;
  margin-left: 16%;
  position: absolute;
  right: 16.25%;
  top: 70%;
}


/* AUTHOR */

.div-author {
  background: #dae1e7;
  min-height: 29rem;
  display: block;
  padding: 4.5rem 17% 0 16%;
}

.div-author-title {
  color: #27496d;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 3rem;
}

.div-author-name {
  color: #00909e;
  font-size: 2rem;
}

.text-author {
  color: #515585;
}


/* BOTTOM */

.div-bottom {
  display: flex;
  max-width: 100%;
  text-align: center;
}

.image-bottom {
  max-width: inherit;
}


/* FOOTER */

.foot {
  background-color: #27496d;
  font-size: 1rem;
  margin: 0;
  text-align: center;
}


/* MEDIA QUERIE BREAKPOINTS */

@media screen and (min-width: 1765px) {
  .div-bottom {padding: 0 17% 0 16%;}
}

@media screen and (max-width: 1200px) {
  .div-bottom {padding: 0;}
  .foot-rights {display: none;}
  .image-top {margin-left: 0; position: static;}
  .nav-link {display: none;}
  .navbar .icon {display:inline;}
  .navbar-menu {margin-left: 10%; padding-top: 1.25rem; position: static;}
  .navbar-menu.responsive {position: relative;}
  .navbar-menu.responsive .icon {position: absolute; left: 100%; top: 1.25rem;}
  .navbar-menu.responsive .nav-link {background-color: #27496d; display: block; padding: 0 1rem;}
}

@media screen and (max-width: 640px) {
  body {font-size: .75rem; text-align: center;}
  .bar-menu-icon {margin-top: 0.5rem; width: 40px;}
  .div-author-name {font-size: 1rem;}
  .div-author-title {font-size: 2rem;}
  .div-top {padding-top: 35%}
  .navbar-brand {margin-top: 1.75rem; max-width: 9rem;}
  .navbar-menu {margin-left: 6%;}
  .navbar-menu.responsive {margin-top: 0.5rem; position: relative; right: 29%;}
  .navbar-menu.responsive .icon {position: absolute; right: 5%; top: 0.75rem;}
  .navbar-menu.responsive .nav-link {background-color: #27496d; display: block; text-align: left;}
  .quote {font-size: 1.5rem;}
  .quote-author {font-size: .5rem; padding-bottom: 15%}
}
